html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  background-color: #fcfcfc;
  color: #231F20;
}

body {
  font-size: 12px;
  font-family: "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
}

p {
  font-size: 1.1666em;
  line-height: 1.5;
  margin: 0 0 1.5em 0;
}

h1 {
  font-size: 2em; /* 24px */
  line-height: 1.5em; /* 36px */
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em; /* 18px */
  line-height: 1em; /* 18px */
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.1667em; /* 14px */
  line-height: 1.2857em; /* 18px */
  margin-top: 0.857em;
  margin-bottom: 0.428em;
  font-weight: bold;
}

h4 {
  font-size: 1.5em; /* 18px */
  line-height: 1em; /* 18px */
  margin-top: 1em;
  margin-bottom: 0em;
}

h5 {
  font-size: 1.3333em; /* 16px */
  line-height: 1.125em; /* 18px */
  margin-top: 1.125em;
  margin-bottom: 0em;
}

h6 {
  font-size: 1.1667em; /* 14px */
  line-height: 1.2857em; /* 18px */
  margin-top: 1.2857em;
  margin-bottom: 0em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

code {
  font: 14px Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace
}

code {
  background-color: #d9eaeb;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #eee;
  text-shadow: 0 1px 0 white;
}

a {
  padding: 1px;
  
  &:link,
  &:visited {
    color: #4d769f;
    text-decoration: underline;
  }
  
  &:hover {
    color: white;
    background-color: #4d769f;
    text-decoration: none;
  }
}

#layout {
  position: absolute;
  width: 70%;
  right: 0;
  margin: 30px 0;
  padding-bottom: 10em;
  
  &>h1 {
    font-size: 2.333em;
    font-weight: bold;
    border-bottom: 3px solid #D9EAEB;
    margin-right: 40px;
    text-shadow: 0 1px 0 white;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

div.content {
  p, pre {
    text-align: left;
    width: 550px;
    margin-bottom: 1.3em;
  }
  
  ol {  
    list-style-type: decimal; 
    
    li {      
      font-size: 1.333em;
      line-height: 1.7;
      margin-left: 1em;
    }
  }
  
  ol.sections {
    display: block;
    position: absolute;
    margin: 0.75em 0 0 -37%; 
    
    li:last-child {
      margin-top: 0.4166em;
      padding-top: 0.2166em;
      border-top: 1px solid #eee;
    }
  }  
}