<% render "layout", :title => "Счета Магазину Кредитов" do %>
  <h1>Счета Магазину Кредитов</h1>
  <div class="content">
    <ol class="sections">
      <li><a href="#ubuntu">Ubuntu Linux</a></li>
    </ol>
    <div id="may"><%= render "sections/may" %></div>
  </div>
<% end %>